/** --------------------- */
/** CORE */
.mt01 { margin-top: 1px; }
.mt10 { margin-top: 10px; }
.mt15 { margin-top: 15px; }
.mt20 { margin-top: 20px; }
.mb01 { margin-bottom: 1px; }
.mb10 { margin-bottom: 10px; }
.mb15 { margin-bottom: 15px; }
.mb20 { margin-bottom: 20px; }
.mbm1 { margin-bottom: -1px; }

.mr05 { margin-right: 5px; }
.mr10 { margin-right: 10px; }
.ml05 { margin-left: 5px; }
.ml10 { margin-left: 10px; }

.p10 { padding: 10px; }

.w10 { width: 10%; }
.w15 { width: 15%; }
.w20 { width: 20%; }
.w25 { width: 25%; }
.w30 { width: 30%; }
.w33 { width: 33%; }
.w34 { width: 34%; }
.w35 { width: 35%; }
.w40 { width: 40%; }
.w45 { width: 45%; }
.w50 { width: 50%; }
.w55 { width: 55%; }
.w60 { width: 60%; }
.w65 { width: 65%; }

.bd01 { border: 1px solid #CCC; }

.img-responsive {
	height: 100%;
	max-width: 100%;
}
.line {
	float: none;
	clear: both;
	height: 0;
	border-bottom: 1px solid #e5e5e5;
	margin: 20px 0;
	overflow: hidden;
}
.line.line-table {
	margin: 10px 0;
}
/** END OF CORE --------- */

/** OVERRIDE ------------ */
.nav-tabs > li.brand > * {
    display:  block;
    padding: 8px 12px;
    line-height: 20px;
    margin-right: 15px;
    font-size: 16px;
}
.input-block-level {
    height: 30px !important;
    min-height: auto !important;
}
textarea.input-block-level {
    height: auto !important;
    min-height: auto !important;
}
/** END OF OVERRIDE ----- */

/** --------------------- */
/** HEADER */
/* logo */
.hd1 {
	position: relative;
	top: 0;
	left: 0;
	border: none;
	margin: 10px 0;
	display: block;
}
.hd1 .logo {
	display: block;
	border: none;
	height: 50px;
	margin-right: 20px;
}
.hd1 .lang-bar {
	display: block;
	border: none;
	margin-left: 20px;
	position: absolute;
	right: 0;
	bottom: 0;
}
.hd1 .lang-bar a.active,
.hd1 .lang-bar a.active:hover {
	font-weight: bold;
	color: #000;
	cursor: text;
	text-decoration: none;
}
/* navbar */
.navbar-j4c {}
.navbar-j4c .brand {
	display: none;
}
.navbar-j4c .btn-navbar {
	cursor: pointer;
}
.navbar-j4c .navbar-inner {
	background-color: #08A3D9;
	background-image: -moz-linear-gradient(top, #08A3D9, #078EBF);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#08A3D9), to(#078EBF));
	background-image: -webkit-linear-gradient(top, #08A3D9, #078EBF);
	background-image: -o-linear-gradient(top, #08A3D9, #078EBF);
	background-image: linear-gradient(to bottom, #08A3D9, #078EBF);
	background-repeat: repeat-x;
	/*border: 1px solid #078EBF;*/
	border: none;
	
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#08A3D9', endColorstr='#078EBF', GradientType=0);
	
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;	
}

.navbar-j4c .nav > li > a {
	padding: 7px 15px 7px;
}
.navbar-j4c .nav > li > a {
	color: #EEE;
	text-shadow: 0 1px 0 #067BA6;
}
.navbar-j4c .nav > li > a:focus,
.navbar-j4c .nav > li > a:hover {
	color: #FFF;
	text-shadow: 0 1px 0 #067BA6;
	outline: none;
}
.navbar-j4c .nav > .active > a, 
.navbar-j4c .nav > .active > a:hover, 
.navbar-j4c .nav > .active > a:focus,
.navbar-j4c .nav li.dropdown.active > .dropdown-toggle,
.navbar-j4c .nav li.dropdown.active.open > .dropdown-toggle { 
	color: #FFF;
	background-color: #08AEEA;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.navbar-j4c .nav > li.dropdown > .dropdown-toggle .caret,
.navbar-j4c .nav > li.dropdown.open > .dropdown-toggle .caret,
.navbar-j4c .nav > li.dropdown.active > .dropdown-toggle .caret,
.navbar-j4c .nav > li.dropdown.active.open > .dropdown-toggle .caret {
	border-top-color: #EEE;
	border-bottom-color: #EEE;
}
.navbar-j4c .nav > li.dropdown > .dropdown-toggle:focus .caret,
.navbar-j4c .nav > li.dropdown > .dropdown-toggle:hover .caret,
.navbar-j4c .nav > li.dropdown.open > .dropdown-toggle:focus .caret,
.navbar-j4c .nav > li.dropdown.open > .dropdown-toggle:hover .caret {
	border-top-color: #FFF;
	border-bottom-color: #FFF;
}
.navbar-j4c .nav li.dropdown.open > .dropdown-toggle { 
	color: #FFF;
	background-color: #1FBDF7;
}
/* end of navbar */

/* dropdown */
.dropdown-menu {
	padding: 6px 0;
}
.dropdown-menu li > a i {
	top: 6px;
}
/* end of dropdown */
/** END OF HEADER ------- */


/* modal*/
.modal {
	-webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.modal form {
	margin: 0 !important;
}
/* end of modal*/


/* tab */
.nav-tabs {
	border-bottom: 1px solid #FBB54F;
}
.nav-tabs > li > a:hover {
	background-color: #EEE;
	border-color: #EEE;
	border-bottom: 1px solid #FBB54F;
}
.nav-tabs > .active > a,
.nav-tabs > .active > a:hover,
.nav-tabs > .active > a:focus {
	outline: none;
	font-weight: bold;
	color: #333;
	border-color: #FBB54F;
	border-bottom-color: transparent;
}
/* end of tab */


/** --------------------- */
/** BODY */
.body { 
	padding-top: 20px; 
	padding-bottom: 20px; 
}
.relative { position: relative; }
.form-error {
	border: none;
	margin: -5px 0 10px;
	font-size: 12px;
	color: #F00;
}
#form-posting-job .form-error {
	margin-top: 0;
}
.alert,
.alert .alert-success, 
.alert .alert-danger, 
.alert .alert-error, 
.alert .alert-info {
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.home-search,
.advanced-search {
	border-top: 1px solid #FBB54F;
	background-color: #EEE;
	padding: 20px 30px;
}
.home-search form,
.advanced-search form {
	margin: 0;
	padding: 0;
}
.home-search .advanced-link,
.advanced-search .advanced-link {
	float: left;
	clear: none;
	border: none;
	padding: 5px 0 0;
}

.search-result {}
.search-result .row-header {
	font-weight: bold;
}

.blog-list {
	margin-top: -40px;
}
.blog-search {
	margin-bottom: 20px;
}
.blog-item {
	border-top: 1px solid #CCC;
	padding: 20px 0 25px;
}
.blog-item:first-child {
	border-top: none;
	padding: 0 0 25px;
}
.blog-item .blog-title {
	line-height: 1em;
}
.blog-item .blog-date,
.blog-read .blog-item .blog-date {
	font-size: 12px;
	float: right;
	margin: -30px 10px 0 10px;
	max-width: 60px;
}
.blog-read .blog-item .blog-date {
	margin-top: 20px;
	margin-right: 0;
}
.blog-item .blog-date span {
	display: block;
	text-align: center;
	line-height: 1em;
}
.blog-item .blog-date span.d {
	font-size: 18px;
	font-weight: bold;
	padding: 3px;
	background-color: #FBB54F;
	color: #FFF;
}
.blog-item .blog-date span.m {
	font-size: 11px;
	background-color: #08AEEA;
	color: #FFF;
	margin-top: 1px;
	padding: 3px 5px;
}
.blog-item .blog-nav {
	clear: both;
	font-size: 12px;
	margin-top: 10px;
}
.breadcrumb-blog {
	border: none;
	margin-top: -20px;
	margin-bottom: 10px;
	filter: none;
	box-shadow: none;
	border-radius: 0;
	background: none;
	background-color: transparent;
	padding-left: 0;
	padding-right: 0;
}

.job-pre {
	margin-bottom: 20px;
}
.job-pre .title {
	font-weight: bold;
	font-size: 16px;
	text-transform: uppercase;
}
.job-pre .company {
	text-transform: uppercase;
}
.job-pre .date-location {
	font-size: 12px;
	color: #666;
}
.job-pre .date-location .pull-left {
	margin-right: 15px;
}

#jdetail > div,
#cdetail > div {
	border-bottom: 1px dotted #CCC;
	padding-bottom: 10px;
	margin-bottom: 10px;
}
#cdetail .company-address {
	color: #666;
	margin-bottom: 20px;
}

.resume-edit-part {
	position: absolute;
	top: 10px;
	right: 10px;
}
.resume-photo,
.resume-container {
}
.resume-photo #photo {
    display: inline-block;
    border: 1px solid #CCC;
    width: 120px;
    height: 120px;
    margin-bottom: 10px;
    padding: 5px;
    text-align: center;
}
.resume-photo #photo img {
    max-width: 120px;
    max-height: 120px;
}
.resume-part {
	margin-bottom: 20px;
}
.part-title {
	border-bottom: 1px solid #CCC;
	padding: 3px 5px;
}
.part-body {
	padding: 10px;
}

#skill-modal .skill-item .w50 {
	float: left;
	width: 50%;
}
#skill-modal .skill-item .item-skill {
	margin-right: 8px;
}
#skill-modal .skill-item .item-prof {
	margin-left: 8px;
}

/**
.pagination ul,
.pagination li a {
	-webkit-border-radius: 0 !important;
	border-radius: 0 !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	background: none !important;
	background-color: transparent !important;
	filter: none !important;
	border-color: #078EBF !important;
}
.pagination li.disabled a {
	background-color: #078EBF !important;
	color: #FFF !important;
}
/**/

.widget {}
.widget-header {
	height: 18px;
	text-align: right;
}
.widget-header .widget-title {
	position: relative;
	border: none;
	background-color: #08AEEA;
	padding: 3px 10px;
	color: #FFF;
	display: inline-block;
	width: auto;
	margin-left: auto;
}
.widget-header .widget-title:after {
	content: "";
	display: block;
	position: absolute;
	bottom: -7px;
	right: 10px;
	border-top: 7px solid #08AEEA;
	border-right: 7px solid transparent;
	border-left: 7px solid transparent;
}
.widget-body {
	border: 1px solid #CCC;
    border-top-color: #08AEEA;
	padding: 10px;
}
.widget-body .widget-desc {
	padding-bottom: 5px;
	font-weight: bold;
}
.widget-row {
	border-top: 1px dotted #CCC;
	padding: 7px 0;
}
.widget-row:first-child {
	border-top: none;
}
.widget-row a,
.widget-row .small {
	line-height: 1.3em;
	font-size: 13px;
}
.widget-row a {
	font-weight: bold;
	line-height: 1.5em;
}
.widget-row .small {
	font-size: 12px;
}

.highlight {
	background-color: yellow;
}
.muted .highlight {
	background-color: lightyellow;
}
/** END OF BODY --------- */


/**
 * FOOTER
 */
.footer {
    position: relative;
    border-top: 5px solid #FBB54F;
    background-color: #08AEEA;
    color: #FFF;
    padding: 20px 20px 45px;
    margin-top: 20px;
}
.footer .footer-item .title {
    font-weight: bold;
    color: #034963;
}
.footer .footer-item .item-row a {
    color: #BBEBFD;
}
.footer .footer-item .item-row a:hover {
    color: #E2F7FE;
}
.footer .footer-logo {
    width: 175px;
}
.footer .footer-logo img {
    min-width: 100%;
    height: auto;
}
.footer .footer-address {
    font-size: 12px;
    line-height: 1.2em;
    text-align: right;
    margin-top: 5px;
}
.footer .footer-pass {
    border-top: 1px solid #0795C9;
    background-color: #8DDEFB;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 5px 20px;
    color: #034963;
}
.footer .footer-pass .terms,
.footer .footer-pass .copyright {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.footer .footer-pass .terms {
    float: right;
}
/** END OF FOOTER --------- */

.list-float {
    list-style-position: inside;
    margin: 0;
    padding: 0;
}
.list-float li {
    float: left;
    width: 33%;
}
.list-float li.clearfix {
    float: none;
    clear: both;
    list-style-type: none;
    height: 0;
}

.show-grid [class*="span"] {
	box-shadow: 0 0 1px #000;
}
