body {
    font: 14px Arial;
    padding: 0 0 60px 0;
    margin: 0;
}

.main-width {
    max-width: 960px;
    margin: 0 auto;
    padding: 0;
}
.main-width .main-wrapper {
    margin-left: 20px;
    margin-right: 20px;
}

.left { float: left; }
.right { float: right; }
.clear { float: none; clear: both; }

.tbar {
    /* 0795C9-bl, FBB54F-or */
    background-color: #0795C9;
    padding: 5px 0 2px;
}

.container {
    position: relative;
    background: #FFF url(../images/pre.jpg) 0 0 no-repeat;
    background-size: 100%;
}
.container .inner {
    padding: 100px 0;
}

.greating {}
.greating h1 {
    border: 1px dotted;
    margin: 0;
    padding: 0;
    font: bold 42px Arial;
    display: none;
}
.greating .text1,
.greating .text2 {
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    font-size: 54px;
    font-weight: 700;
    color: #0795C9;
    text-shadow: 1px 1px 0 #333;
}
.greating .text2 {
    font-size: 38px;
    font-weight: 400;
}
.nav {
    margin-top: 150px;
    text-align: center;
}
.nav a {
    display: inline-block;
    padding: 10px 20px 10px 70px;
    color: #FFF;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 0 1px 1px #666;
}
.nav a#au {
    background-color: rgba(1, 1, 103, 0.35);
    background-image: url(../images/au.png);
    background-position: 15px 50%;
    background-repeat: no-repeat;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#35010167,endColorstr=#35010167); 
    zoom: 1;
    margin-right: 20px;
}
.nav a#au:hover {
    background-color: rgba(1, 1, 103, 0.8);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#80010167,endColorstr=#80010167); 
}
.nav a#id {
    background-color: rgba(255, 0, 0, 0.35);
    background-image: url(../images/id.png);
    background-position: 15px 50%;
	background-repeat: no-repeat;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#35FF0000,endColorstr=#35FF0000); 
    margin-left: 20px;
}
.nav a#id:hover {
    background-color: rgba(255, 0, 0, 0.8);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#80FF0000,endColorstr=#80FF0000); 
}

.footer {
    font-size: 12px;
    border-bottom: 3px solid #0795C9;
    background-color: #FFF;
    padding-top: 10px;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
}
.footer .inner {
    padding: 10px 5px;
    color: #999;
}

@media (min-width: 768px) and (max-width: 979px) {
    .greating .text1 {
        font-size: 42px;
    }
    .greating .text2 {
        font-size: 28px;
    }
    .container .inner {
        padding: 70px 0;
    }
    .nav {
        margin-top: 100px;
    }
}
@media (max-width: 767px) {
    .greating .text1 {
        font-size: 32px;
    }
    .greating .text2 {
        font-size: 24px;
    }
    .container .inner {
        padding: 50px 0;
    }
    .nav {
        margin-top: 50px;
    }
}
@media (max-width: 480px) {
    .container {
        background-size: 130%;
        background-position: 100% 0;
    }
    .greating .text1,
    .greating .text2 {
        text-shadow: none;
        font-size: 18px;
    }
    .greating .text2 {
        font-weight: 500;
    }
    .container .inner {
        padding: 30px 0;
    }
    .nav {
        margin-top: 30px;
    }
    .nav a {
        margin: 5px 20px !important;
        font-size: 14px;
    }
    .footer .left,
    .footer .right {
        float: none;
    }
}
